<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-xxl">
          <a class="navbar-brand" aria-current="page" href="{% url 'mainapp:index' %}">DotaPlay.ru</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'newsapp:index' %}">Новости</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Турниры</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Матчи</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'teams_and_players_app:team_list' %}">Игроки и команды</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Обсуждения</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Найдется всё" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Поиск</button>
              <button type="button" class="btn btn-outline-primary">Войти</button>
            </form>
          </div>
        </div>
    </nav>
</header>