<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-xxl">
          <a class="navbar-brand" aria-current="page" href="{% url 'mainapp:index' %}">DotaPlay.ru</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'newsapp:index' %}">Новости</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'tournaments_app:tournaments_current_list' %}">Турниры</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'matchesapp:matches_played_list' %}">Матчи</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'teams_and_players_app:team_list' %}">Игроки и команды</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Обсуждения</a>
              </li>
            </ul>
              <form action="{% url 'mainapp:search_news' %}" method="get">
                <input name="s" class="form-control me-2" type="search" placeholder="Найдется всё" aria-label="Search">
              </form>
              {% if user.is_authenticated %}
                Hello, {{user.username}}
                <a href="{% url 'usersapp:logout' %}" class="btn btn-outline-primary">Выйти</a>
              {% else %}
                <a href="{% url 'usersapp:login' %}" class="btn btn-outline-primary">Войти</a>
                <a href="{% url 'usersapp:registration' %}" class="btn btn-outline-primary">Регистрация</a>
              {% endif %}
          </div>
        </div>
    </nav>
</header>