{% extends "base.html" %}
{% load static %}

{% block title %}
    Турнир {{object.name}}
{% endblock %}

{% block page_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'tournaments.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'one_tournament.css' %}">
{% endblock %}

{% block content %}
    {% for stage in object.tournament_stages.all %}
        <div class="stage">{{stage.stage}}</div>
        <div class="matches">
            {% for match in stage.tournamentstage_matches.all %}
                <div class="match" style="text-align:center;">{{ match }}</div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}