.player_content{
    padding-top: 50px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.player_wrapper{
    display: flex;
    flex-direction: row
}

.player_name{
    margin-left: 10px;
    font-size: 35px;
}

.player_info{
    display: flex;
    flex-direction: row;
}

.name{
    margin-left: 100px;
}

.full_name, .current_team, .now_age, .birthday_date, .country_born, .prize_won{
    color: grey;
    font-size: 20px;
}

.team, .age, .birthday, .country, .prize{
    margin-left: 50px;
    text-align: center;
}

.player_name, .player_team, .player_age, .player.birthday, .player_counrty, .player,prize{
    font-size: 20px;
}

.player_text_header{
    text-align: center;
    font-size: 25px;
    padding-bottom: 25px;
}

.player_text{
    margin-top: 75px;
    margin-left: 150px;
    font-size: 20px;
    text-align: left;
}

.player_stats{
    margin-top: 25px;
}

.player_teammates{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.teammate{
    display: flex;
    flex-direction: column;

}

.player_teammates_text{
    margin-bottom: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 25px;
}

.no_teammates{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}