{% extends "base.html" %}
{% load static %}

{% block title %}
    Игроки и команды
{% endblock %}

{% block page_css %}
      <link rel="stylesheet" href="{% static 'teams_and_players.css' %}">
{% endblock %}

{% block content %}
    <div class="links" style="padding-top: 30px; max-width: 1200px; margin-left: auto; margin-right: auto;">
      {% block links %}
      {% endblock %}
    </div>
    <div class="table-responsive" style="padding-top: 20px;">
      {% block table_title %}
      {% endblock %}
      <div class="table">
        <table class="table table-hover table-info align-middle mb-0 bg-white">
          <thead class="bg-light">
            {% block table_rows %}
            {% endblock %}
          </thead>
          <tbody>
            {% block table_body %}
            {% endblock %}
          </tbody>
        </table>
      </div>
    </div>
{% endblock %}