{% extends "teams_and_players_content.html" %}
{% load static %}

{% block links %}
    <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'teams_and_players_app:teams' %}">Команды</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'teams_and_players_app:players' %}">Игроки</a>
        </li>
    </ul>
{% endblock %}

{% block table_title %}
    <h3 style="text-align: center">Игроки</h3>
{% endblock %}

{% block table_rows %}
    <tr>
      <th>Игрок</th>
      <th style="text-align: center">Победы/Поражения</th>
      <th style="text-align: center">Призовые</th>
      <th style="text-align: center">Команда</th>
    </tr>
{% endblock %}

{% block table_body %}
    <tbody>
        {% for player in players %}
          <tr>
            <td>
                <a href="{% url 'teams_and_players_app:one_player' player_id=player.id %}" class="team_link" style="text-decoration: none;">
                  <div class="d-flex align-items-center">
                      <img src="{{player.photo.url}}" alt="" style="margin-left: 15px; width: 45px; height: 45px" class="rounded-circle"/>
                      <div class="ms-3">
                        <p class="fw-bold mb-1">{{player.nickname}}</p>
                          <p class="fw-bold mb-1">{{player.name}}</p>
                      </div>
                  </div>
                </a>
            </td>
            <td>
              <p class="fw-normal mb-1" style="text-align: center">Матчей: {{ player.all_matches }}</p>
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: {{ player.win_rate }}%" aria-valuenow="{{ player.win_rate }}" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-warning" role="progressbar" style="width: {{ player.draw_rate }}%" aria-valuenow="{{ player.draw_rate }}" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-danger" role="progressbar" style="width: {{ player.lose_rate }}%" aria-valuenow="{{ player.lose_rate }}" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p class="text-muted mb-0" style="text-align: center">{{ player.all_win_matches }}({{ player.win_rate }}%)
                  /{{ player.all_draw_matches }}({{ player.draw_rate }}%) / {{player.all_lose_matches}}({{ player.lose_rate }}%)</p>
            </td>
            <td>
              <h5 style="text-align: center">$ {{player.all_prize}}</h5>
            </td>
            <td>
              <h5 style="text-align: center">{{player.current_team}}</h5>
            </td>
          </tr>
        {% endfor %}
    </tbody>
{% endblock %}